# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [8]:
dict={}
type(dict)

dict

In [14]:
dict1=dict()
type(dict1)

SyntaxError: invalid syntax (2349302106.py, line 1)

In [33]:
data={'Alabama':'Montgomery',
     'Arizona':'Phenoix',
     'Georgia': 'Atlanta',
     'Kentucky': 'Frankfort',
     'Ohio':'Columbous'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [10]:
data['Ohio']

'Columbous'

In [11]:
data['Georgia']

'Atlanta'

In [13]:
# data['New York']
# Key Error if key is not presesnt in the dictionary

In [1]:
day={1:'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Saturday', 'Sunday']}

### Update elements of a dictionary and add new elements

In [2]:
# Thursday
day[4][0] #day[key][index]

'Thursday'

In [3]:
# Sunday
day[5][1]

'Sunday'

In [4]:
day[3]='Wednesday'

In [5]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

In [6]:
# Uppdate Saturday to holiday
day[5][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [8]:
#Update sunday to Holiday
day[5][1]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [10]:
# Update Thursday to Holiday
# day[4][0]='Holiday'
# Can not update a tuple

### `get` and `update` methods
- get use to access a value from dictionary
- update the dictionary with new value also update the old value

In [11]:
# Return Wednesday
day.get(3)

'Wednesday'

In [12]:
# Return Monday
day.get(1)

'Monday'

In [13]:
day.get(6) # Not generate an erros if key is not present in the dictionary

In [15]:
# day[6] # Key error

In [26]:
data

{'Arizona': 'Phenoix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbous',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [20]:
#Update an old entry
data.update({'Kentucky':'Lousiville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phenoix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Lousiville',
 'Ohio': 'Columbous'}

In [21]:
# New Entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phenoix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Lousiville',
 'Ohio': 'Columbous',
 'Louisiana': 'Baton Rouge'}

In [22]:
data.update({'Missouri': 'Jefferson City', 'Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phenoix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbous',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [27]:
# Delete Alabama using del method
del data['Alabama']
data

KeyError: 'Alabama'

In [28]:
# delete ohio using pop
data.pop('Ohio')

'Columbous'

In [29]:
data

{'Arizona': 'Phenoix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [34]:
# Delete the dictionary
del data

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [44]:
data={'Alabama':'Montgomery',
     'Arizona':'Phenoix',
     'Georgia': 'Atlanta',
     'Kentucky': 'Frankfort',
     'Ohio':'Columbus'}

In [45]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [48]:
data.values()

dict_values(['Montgomery', 'Phenoix', 'Atlanta', 'Frankfort', 'Columbus'])

In [49]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Phenoix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary for

In [50]:
# Unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [51]:
# Unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Phenoix
Atlanta
Frankfort
Columbus

In [54]:
# Unpack items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phenoix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [58]:
# unpack dictionary items
for j,k in data.items():
    print("State:   ",j)
    print("Capitol: ",k)

State:    Alabama
Capitol:  Montgomery
State:    Arizona
Capitol:  Phenoix
State:    Georgia
Capitol:  Atlanta
State:    Kentucky
Capitol:  Frankfort
State:    Ohio
Capitol:  Columbus

### Convert dictionary to lists using `list()` function

In [59]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phenoix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [61]:
# dictionary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [62]:
# Convert values to a list
list(data.values())

['Montgomery', 'Phenoix', 'Atlanta', 'Frankfort', 'Columbus']

### A List in a Dictionary: How to unpack all of the entries?

In [65]:
fav_language={'jen':['python','ruby'], 'sarah':['c'],'edward':['ruby','java'],'phil':['python','java']}

In [66]:
fav_language

{'jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [72]:
for name, subjects in fav_language.items():
    print(f"The name is: {name.title()}. The favorite languages are:")
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is: Jen. The favorite languages are:
						 python
						 ruby
The name is: Sarah. The favorite languages are:
						 c
The name is: Edward. The favorite languages are:
						 ruby
						 java
The name is: Phil. The favorite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [73]:
user={'einstein':{'first':'albert','last':'einstein','location':'princeton'}, 'mcurie':{'first':'marie','last':'curie','location':'paris'}}

In [74]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [75]:
# Print albert
user['einstein']['first']

'albert'

In [76]:
#paris
user['mcurie']['location']

'paris'

In [89]:
for username, user_info in user.items():
    print("Username:  ", username)
    #print(user_info)
    full_name=user_info['first']+" "+user_info['last']
    print("Full name: ", full_name)
    print("Location:  ", user_info['location'])

Username:   einstein
Full name:  albert einstein
Location:   princeton
Username:   mcurie
Full name:  marie curie
Location:   paris